/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.preloader {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  visibility: visible;
  opacity: 1;
  z-index: 999;
  transition: .5s linear; }
  .preloader-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 250px;
    width: 100%;
    min-height: 59px;
    transform: translate(-50%, -50%);
    overflow: hidden; }
    .preloader-logo__img-1, .preloader-logo__img-2, .preloader-logo__img-3 {
      position: absolute;
      display: block;
      transition: .5s linear; }
    .preloader-logo__img-1 {
      max-width: 100%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%);
      animation-name: pre1;
      animation-duration: .8s;
      animation-timing-function: linear;
      animation-fill-mode: forwards; }
    .preloader-logo__img-2 {
      left: 30%;
      top: -100%;
      opacity: 0;
      animation-name: pre2;
      animation-duration: .6s;
      animation-delay: .8s;
      animation-timing-function: linear;
      animation-fill-mode: forwards; }
    .preloader-logo__img-3 {
      top: 70%;
      left: 100%;
      opacity: 0;
      animation-name: pre3;
      animation-duration: .7s;
      animation-delay: .9s;
      animation-timing-function: linear;
      animation-fill-mode: forwards; }

.done {
  opacity: 0;
  visibility: hidden; }

@keyframes pre1 {
  100% {
    opacity: 1;
    left: 0;
    transform: none; } }

@keyframes pre2 {
  100% {
    opacity: 1;
    top: 0; } }

@keyframes pre3 {
  100% {
    opacity: 1;
    left: 0; } }

.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  min-height: 120px;
  z-index: 99;
  transition: all .5s linear; }
  .header .menu {
    display: flex;
    font-family: Open Sans, sans-serif;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 900px;
    width: 100%;
    padding: 20px;
    margin: 10px; }
    .header .menu li {
      position: relative; }
      .header .menu li a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: #ea5e21;
        padding: 10px 20px;
        border-radius: 3px;
        transition: .4s ease;
        font-weight: 600; }
        .header .menu li a:hover {
          background-color: #ea5e21;
          color: #fff; }
      .header .menu li .submenu {
        display: none;
        position: absolute;
        z-index: 99;
        width: 100%;
        background-color: rgba(238, 238, 238, 0.9);
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding-top: 40px; }
        .header .menu li .submenu li {
          padding: 5px 0; }
          .header .menu li .submenu li a {
            display: block; }

.stock {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  padding: 40px 0;
  width: 100%;
  background: url(../img/bgbg5.png); }
  .stock-item {
    max-width: 350px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px 0 #777;
    margin: 10px;
    transition: .3s linear; }
    .stock-item__title {
      display: block;
      max-width: 300px;
      position: relative;
      text-align: center;
      text-decoration: none;
      font-family: Open Sans, sans-serif;
      color: #ea5e21;
      font-size: 20px;
      margin: 25px auto 0;
      z-index: 2;
      overflow: hidden; }
      .stock-item__title:hover span {
        top: 0;
        opacity: 1; }
      .stock-item__title img {
        display: block;
        max-width: 300px;
        width: 100%;
        margin: 0 auto 20px;
        border-radius: 3px;
        transition: .5s linear; }
      .stock-item__title span {
        position: absolute;
        top: -100%;
        display: none;
        width: 100%;
        height: 85%;
        border-radius: 5px;
        background-color: rgba(234, 94, 33, 0.3);
        opacity: 0;
        transition: .5s linear; }
        .stock-item__title span small {
          display: block;
          font-size: 30px;
          color: #fff;
          padding-top: 30%;
          opacity: 1;
          font-style: italic; }
    .stock-item__price {
      text-align: center;
      padding: 10px 10px 20px;
      font-size: 20px;
      font-family: Lora, serif; }

.mb-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
  width: 100%;
  margin: auto;
  font-family: Open Sans, sans-serif; }
  .mb-flex__item {
    position: relative;
    margin: auto;
    padding: 0;
    max-width: 327px;
    width: 100%;
    list-style: none;
    text-align: center; }
    .mb-flex__item figure {
      position: relative;
      float: left;
      overflow: hidden;
      margin: 10px 1%;
      min-width: 320px;
      max-width: 400px;
      max-height: 360px;
      width: 50%;
      background: #3085a3;
      text-align: center;
      cursor: pointer; }
      .mb-flex__item figure img {
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        opacity: 0.8; }
      .mb-flex__item figure figcaption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 2em;
        text-transform: uppercase;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden; }
        .mb-flex__item figure figcaption::before, .mb-flex__item figure figcaption::after {
          pointer-events: none; }
        .mb-flex__item figure figcaption h2 {
          word-spacing: -0.15em;
          font-weight: 600;
          margin: 0;
          font-size: 2em;
          color: #ea5e21; }
        .mb-flex__item figure figcaption p {
          margin: 5px 0 0;
          letter-spacing: 1px;
          font-size: 1.2em;
          color: #fff;
          background-color: #ec6f38;
          padding: 10px; }
        .mb-flex__item figure figcaption a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1000;
          text-indent: 200%;
          white-space: nowrap;
          font-size: 0;
          opacity: 0; }
    .mb-flex__item .effect-lily:hover img,
    .mb-flex__item .effect-lily:hover p {
      opacity: 1; }
    .mb-flex__item .effect-lily:hover img,
    .mb-flex__item .effect-lily:hover h2,
    .mb-flex__item .effect-lily:hover p {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .mb-flex__item .effect-lily:hover h2 {
      background-color: rgba(0, 0, 0, 0.6); }
    .mb-flex__item .effect-lily:hover p {
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
      -webkit-transition-duration: 0.35s;
      transition-duration: 0.35s; }
    .mb-flex__item .effect-lily img {
      max-width: none;
      width: 400px;
      opacity: 0.7;
      transition: opacity 0.35s, transform 0.35s;
      transform: translate3d(-40px, 0, 0); }
    .mb-flex__item .effect-lily figcaption {
      text-align: left; }
      .mb-flex__item .effect-lily figcaption div {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 0 1.5em 1.5em;
        width: 100%;
        height: 50%; }
      .mb-flex__item .effect-lily figcaption h2, .mb-flex__item .effect-lily figcaption p {
        transform: translate3d(0, 40px, 0);
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px; }
      .mb-flex__item .effect-lily figcaption h2 {
        padding: 10px;
        transition: transform .4s ease; }
      .mb-flex__item .effect-lily figcaption p {
        opacity: 0;
        transition: opacity 0.2s, transform 0.35s; }

/*---------------*/
/***** Lily *****/
/*---------------*/
.furniture-stiduo {
  font-family: Lora, serif;
  background-color: #eee;
  padding-bottom: 80px; }
  .furniture-stiduo .table-services, .furniture-stiduo tr, .furniture-stiduo th {
    border: 1px solid black; }
  .furniture-stiduo .table-services {
    border-collapse: collapse;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff; }
    .furniture-stiduo .table-services caption {
      font-size: 25px;
      font-style: italic;
      margin-bottom: 40px;
      margin-top: 30px; }
    .furniture-stiduo .table-services tr, .furniture-stiduo .table-services th {
      padding: 10px;
      font-size: 16px; }
    .furniture-stiduo .table-services tr th:first-child {
      width: 70%; }
    .furniture-stiduo .table-services tr:not(:first-child) th:first-child {
      text-align: left; }
    .furniture-stiduo .table-services tr:not(:first-child):hover {
      background-color: #ea5e21;
      color: #fff; }
    .furniture-stiduo .table-services tr:first-child {
      background-color: #ea5e21;
      color: #fff;
      font-style: italic; }

.section-title {
  font-family: Open Sans, sans-serif;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  font-weight: 600;
  font-style: italic;
  box-shadow: 0 5px 0 5px #ea5e21, 0 15px 0 5px #42454e; }
  .section-title img {
    max-width: 200px;
    vertical-align: middle;
    padding: 10px;
    border-radius: 2px; }

.title-furniture {
  background-color: #ea5e21;
  color: #fff;
  font-size: 45px;
  letter-spacing: 5px;
  line-height: 80px;
  font-style: italic;
  box-shadow: none; }

.section-descr {
  max-width: 1000px;
  min-height: 120px;
  font-family: Lora, serif;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  padding: 20px; }

.services {
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Lora, serif;
  margin-top: 80px;
  background-color: #eee;
  z-index: 1; }
  .services::before {
    position: absolute;
    max-width: 1400px;
    width: 100%;
    content: '';
    font-size: 350px;
    z-index: -1;
    color: grey; }
  .services-box {
    max-width: 500px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; }
    .services-box:hover img {
      transform: rotate(3deg) scale(1.02);
      box-shadow: 0 10px 10px #777; }
    .services-box img {
      max-width: 80px;
      width: 100%;
      transition: .2s linear;
      background-color: #fff;
      padding: 10px;
      box-shadow: 0 10px 5px #777;
      transform: rotate(3deg);
      border-radius: 5px; }
    .services-box__title {
      font-family: Open Sans, sans-serif;
      font-size: 20px;
      font-weight: 600;
      color: #ea5e21;
      padding-top: 20px; }
    .services-box__descr {
      font-size: 16px;
      line-height: 20px;
      padding: 10px; }

.section-parallax {
  margin-top: 150px;
  min-height: 1000px; }
  .section-parallax .section-title {
    margin-top: 40px;
    margin-bottom: 40px; }
  .section-parallax .section-descr {
    max-width: 600px;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    padding: 0 25px; }
  .section-parallax .parallax-window {
    min-height: 350px;
    background: transparent; }
  .section-parallax__flex {
    display: flex;
    max-width: 1920px;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; }
    .section-parallax__flex-block {
      height: auto;
      padding: 20px; }
      .section-parallax__flex-block .parallax-img {
        max-width: 600px;
        position: relative;
        border: 6px solid #fff;
        border-radius: 3px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }
        .section-parallax__flex-block .parallax-img::before, .section-parallax__flex-block .parallax-img::after {
          content: "";
          max-width: 600px;
          width: 100%;
          height: 390px;
          position: absolute;
          z-index: -1;
          border: 6px solid #fff;
          border-radius: 3px;
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); }
        .section-parallax__flex-block .parallax-img::before {
          background: #ea5e21;
          top: 0px;
          left: -10px;
          transform: rotate(-5deg); }
        .section-parallax__flex-block .parallax-img::after {
          background: #ea5e21;
          top: 5px;
          left: 0px;
          transform: rotate(5deg); }
        .section-parallax__flex-block .parallax-img img {
          max-width: 100%;
          display: block; }
      .section-parallax__flex-block .jssor_2 {
        position: relative;
        top: 0px;
        left: 0px;
        width: 550px;
        height: 350px;
        overflow: hidden;
        clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%); }
        .section-parallax__flex-block .jssor_2__slides {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 550px;
          height: 350px;
          overflow: hidden; }

.furniture {
  box-sizing: border-box;
  max-width: 1600px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #eee;
  font-family: Open Sans, sans-serif; }
  .furniture-title {
    font-size: 40px;
    font-weight: bold;
    color: #ea5e21;
    padding-top: 20px;
    padding-left: 50px;
    text-align: center; }
    .furniture-title__name {
      color: #ea5e21;
      font-size: 25px;
      padding: 20px 0; }
  .furniture .furniture-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .furniture .furniture-items-sofa {
      text-align: center;
      max-width: 300px;
      margin: 5px;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 0 5px 0 #777; }
      .furniture .furniture-items-sofa a {
        text-decoration: none;
        color: #000;
        font-size: 20px;
        line-height: 40px; }
        .furniture .furniture-items-sofa a:hover {
          color: #ea5e21; }
      .furniture .furniture-items-sofa img {
        max-width: 300px;
        border-radius: 2px; }
    .furniture .furniture-items__price {
      font-size: 18px;
      color: #ea5e21;
      line-height: 35px; }

.btn_top_jQuery {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 64px;
  height: 64px;
  cursor: pointer;
  display: none;
  z-index: 99999; }

/*Footer*/
.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(/img/bg-title.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: #eee;
  font-family: Lora, serif;
  padding-bottom: 60px;
  padding-top: 30px;
  border-top: 2px dashed #000; }
  .footer-logo img {
    max-width: 180px; }
  .footer-menu {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 100%; }
    .footer-menu ul {
      border-left: 2px solid #ea5e21; }
      .footer-menu ul li {
        padding-left: 20px; }
        .footer-menu ul li a {
          display: block;
          text-decoration: none;
          padding: 3px;
          color: #ea5e21;
          transition: .3s linear;
          border-radius: 2px; }
          .footer-menu ul li a:hover {
            text-decoration: underline;
            padding-left: 10px; }
  .footer-contacts ul li {
    padding: 5px;
    font-size: 18px; }
    .footer-contacts ul li span {
      color: #ea5e21;
      font-size: 22px;
      padding-right: 20px; }

@media screen and (max-width: 610px) {
  .jssor_2 {
    display: none; } }
