@import '_variables';
@import '_reset.scss';

body {
    height: 5000px; /// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
}
//header
header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    min-height: 120px;
    background-color: rgba(238, 238, 238, 0.9);
    box-shadow: 0 1px 1px $black;
    z-index: 99;
    transition: all .5s linear;
    
    
    .logo {
        
    }
    
    .menu {
        display: flex;
        font-family: $font-OpenSans;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 900px;
        width: 100%;
        padding: 20px;
        margin: 10px;
        
        li {   
            position: relative;
            
            a {
                display: block;
                text-align: center;
                text-decoration: none;
                color: $orange;
                padding: 10px 20px;
                border-radius: 3px;
                transition: .4s ease;
                font-weight: 600;
                
                
                
                &:hover {
                    background-color: $orange;
                    color: $white;
                }
                
                
            } //a            
            
            //submenu
            .submenu {
                display: none;
                position: absolute;
                z-index: 99;
                width: 100%;
                background-color: rgba(238, 238, 238, 0.9);
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                padding-top: 40px;
                
                
                li {
                    padding: 5px 0;
                    
                    a {
                        display: block;  
                        
                        
                    }
                    
                }
                
            }//submenu 
            
        }// li 
    }//menu
}//header





// services
.section-title {
    font-family: $font-OpenSans;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    margin-top: 80px;
    margin-bottom: 80px;
    
    span {
        color: $orange;
        font-weight: bold;
    }
}
.section-descr {
    max-width: 1000px;
    min-height: 120px;
    font-family: $font-Lora;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
.services {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    font-family: $font-Lora;
    margin-top: 80px;
    background-color: #eee;
    z-index: 1;
    
    &::before {
        position: absolute;
        max-width: 1400px;
        width: 100%;
        content: '';
        font-size: 350px;
        z-index: -1;
        color: grey;
    }
    
    &-box {
        max-width: 500px;
        width: 100%;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        
        
        &:hover img {
            transform: rotate(3deg) scale(1.02);
            box-shadow: 0 10px 10px #777;
        }
        
        img {
            max-width: 80px;
            width: 100%;
            transition: .2s linear;
            background-color: #fff;
            padding: 10px;
            box-shadow: 0 10px 5px #777;
            transform: rotate(3deg);
            border-radius: 5px;
            
        }
        
        &__title {
            font-family: $font-OpenSans;
            font-size: 20px;
            font-weight: 600;
            color: $orange;
            padding-top: 20px;
        }
        &__descr {
            font-size: 16px;
            line-height: 20px;
            padding: 10px;
        }
    }//box    
}//services

//stock
.stock {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    padding: 40px 0;
    width: 100%;
    background: url(../img/bgbg5.png);
   
    
    &-item {
        max-width: 350px;
        width: 100%; 
        background-color: #fff;
        box-shadow: 0 0 5px 0 #777;
        margin: 10px;
        transition: .3s linear;      
        
        &__title {
            display: block;
            max-width: 300px;
            position: relative;
            text-align: center;
            text-decoration: none;
            font-family: $font-OpenSans;
            color: $orange;
            font-size: 20px;
            margin: 25px auto 0;  
            z-index: 2;
            overflow: hidden;
            
            &:hover span {
                    top: 0;
                    opacity: 1;
                }
            
            img {
                display: block;
                max-width: 300px;
                width: 100%;
                margin: 0 auto 20px;
                border-radius: 3px;
                transition: .5s linear;
                
                
            }
            span {
                position: absolute;
                top: -100%;
                display: none;
                width: 100%;
                height: 85%;
                border-radius: 5px;
                background-color: rgba(234, 94, 33, 0.3);
                opacity: 0;
                transition: .5s linear;
                
                small {
                    display: block;
                    font-size: 30px;
                    color: $white;
                    padding-top: 30%;
                    opacity: 1;
                    font-style: italic;
                }
                
                
                
            }
            
        }//title
        
        &__price {
            text-align: center;
            padding: 10px 10px 20px;
            font-size: 20px;
            font-family: $font-Lora;
        }
    }//item
}//stock

//parallax
.section-parallax {
    margin-top: 150px;
    min-height: 1000px;
    
    
    .section-title {
        margin-top: 40px;
        margin-bottom: 40px;
        
    }
    
    .section-descr {
        max-width: 600px;
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        padding: 0 25px;
    }
    
    .parallax-window {  
        min-height: 350px;
        background: transparent;
    }
        
    &__flex {
        display: flex;
        max-width: 1920px;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;

        &-block {
            height: auto;
            padding: 20px;

            .parallax-img {
                max-width: 600px;
                position: relative;
                border: 6px solid $white;
                border-radius: 3px;
                box-shadow: 2px 2px 5px rgba(0,0,0,0.3);

                &::before,
                &::after {
                    content: "";
                    max-width: 600px;
                    width: 100%;
                    height: 390px;
                    position: absolute;
                    z-index: -1;
                    border: 6px solid $white;
                    border-radius: 3px;
                    box-shadow: 0 3px 7px rgba(0,0,0,0.3);

                }

                &::before {
                    background: $orange;
                    top: 0px;
                    left: -10px;
                    transform: rotate(-5deg);
                }
                &::after {
                    background: $orange;
                    top: 5px;
                    left: 0px;
                    transform: rotate(5deg);
                }

                img {
                    max-width: 100%;
                    display: block;

                } //img
            }//parallax-img
            .jssor_2 {
                position:relative;
                top:0px;
                left:0px;
                width:550px;
                height: 350px;
                overflow:hidden;
                clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
                
                &__slides {
                    position:absolute;
                    top:0px;
                    left:0px;
                    width: 550px;
                    height:350px;
                    overflow:hidden;
                    
                }
            }
        }//block
    }//flex        
}//parallax


//btn_top_jQuery

.btn_top_jQuery {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 64px;
    height: 64px;
    cursor: pointer;
    display: block;
    background: url(/img/top.png);
    z-index: 99999;
}

//btn_top_jQuery







@media screen and (max-width: 610px) {
    .jssor_2 {
        display: none;
    }
}