@import '_variables';
@import '_reset';
@import '_preloader';
@import '_header';
@import '_cards';
@import '_mb';
@import '_table';


//titles
.section-title {
    font-family: $font-OpenSans;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;    
    font-weight: 600;
    font-style: italic;
    box-shadow: 0 5px 0 5px $orange,
                0 15px 0 5px #42454e;
    
    
    
    img {
        max-width: 200px;
        vertical-align: middle;
        //box-shadow: 0 5px 5px #777;
        padding: 10px;
        border-radius: 2px;
    }
}
.title-furniture {
    background-color: $orange;
    color: $white;
    font-size: 45px;
    letter-spacing: 5px;
    line-height: 80px;
    font-style: italic;
    box-shadow: none;
}


.section-descr {
    max-width: 1000px;
    min-height: 120px;
    font-family: $font-Lora;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
// services
.services {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    font-family: $font-Lora;
    margin-top: 80px;
    background-color: #eee;
    z-index: 1;
    
    &::before {
        position: absolute;
        max-width: 1400px;
        width: 100%;
        content: '';
        font-size: 350px;
        z-index: -1;
        color: grey;
    }
    
    &-box {
        max-width: 500px;
        width: 100%;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        
        
        &:hover img {
            transform: rotate(3deg) scale(1.02);
            box-shadow: 0 10px 10px #777;
        }
        
        img {
            max-width: 80px;
            width: 100%;
            transition: .2s linear;
            background-color: #fff;
            padding: 10px;
            box-shadow: 0 10px 5px #777;
            transform: rotate(3deg);
            border-radius: 5px;
            
        }
        
        &__title {
            font-family: $font-OpenSans;
            font-size: 20px;
            font-weight: 600;
            color: $orange;
            padding-top: 20px;
        }
        &__descr {
            font-size: 16px;
            line-height: 20px;
            padding: 10px;
        }
    }//box    
}//services

//stock


//parallax
.section-parallax {
    margin-top: 150px;
    min-height: 1000px;
    
    
    .section-title {
        margin-top: 40px;
        margin-bottom: 40px;
        
    }
    
    .section-descr {
        max-width: 600px;
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        padding: 0 25px;
    }
    
    .parallax-window {  
        min-height: 350px;
        background: transparent;
    }
        
    &__flex {
        display: flex;
        max-width: 1920px;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;

        &-block {
            height: auto;
            padding: 20px;

            .parallax-img {
                max-width: 600px;
                position: relative;
                border: 6px solid $white;
                border-radius: 3px;
                box-shadow: 2px 2px 5px rgba(0,0,0,0.3);

                &::before,
                &::after {
                    content: "";
                    max-width: 600px;
                    width: 100%;
                    height: 390px;
                    position: absolute;
                    z-index: -1;
                    border: 6px solid $white;
                    border-radius: 3px;
                    box-shadow: 0 3px 7px rgba(0,0,0,0.3);

                }

                &::before {
                    background: $orange;
                    top: 0px;
                    left: -10px;
                    transform: rotate(-5deg);
                }
                &::after {
                    background: $orange;
                    top: 5px;
                    left: 0px;
                    transform: rotate(5deg);
                }

                img {
                    max-width: 100%;
                    display: block;

                } //img
            }//parallax-img
            .jssor_2 {
                position:relative;
                top:0px;
                left:0px;
                width:550px;
                height: 350px;
                overflow:hidden;
                clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
                
                &__slides {
                    position:absolute;
                    top:0px;
                    left:0px;
                    width: 550px;
                    height:350px;
                    overflow:hidden;
                    
                }
            }
        }//block
    }//flex        
}//parallax

//furniture

.furniture {
    box-sizing: border-box;
    max-width: 1600px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #eee;
    font-family: $font-OpenSans;
    
    &-title {
        font-size: 40px;
        font-weight: bold;
        color: $orange;        
        padding-top: 20px;
        padding-left: 50px;
        text-align: center;
        
        &__name {
            color: $orange;
            font-size: 25px;
            padding: 20px 0;
        }
    }
    .furniture-items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        &-sofa {
            text-align: center;
            max-width: 300px;
            margin: 5px;
            padding: 10px;
            background-color: $white;
            box-shadow: 0 0 5px 0 #777;
            
            a {
                text-decoration: none;
                color: $black;
                font-size: 20px;
                line-height: 40px;
                
                &:hover {
                    color: $orange;
                }
            }
            
            img {
                max-width: 300px;
                border-radius: 2px;
            }
        }//sofa    
        &__price {
            font-size: 18px;
            color: $orange;
            line-height: 35px;
        }
    }//furniture-items
    
}//furniture


//btn_top_jQuery

.btn_top_jQuery {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 64px;
    height: 64px;
    cursor: pointer;
    display: none;
    z-index: 99999;
}

//btn_top_jQuery

/*Footer*/

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(/img/bg-title.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #eee;
    font-family: $font-Lora;
    padding-bottom: 60px;
    padding-top: 30px;
    border-top: 2px dashed $black;
    
    &-logo img {
        max-width: 180px;
    }
    &-menu {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        width: 100%;
        
        ul {
            
            border-left: 2px solid $orange;
            li {
                padding-left: 20px;
                a {
                    display: block;
                    text-decoration: none;
                    padding: 3px;
                    color: $orange;
                    transition: .3s linear;
                    border-radius: 2px;
                    
                    &:hover {
                        text-decoration: underline;
                        padding-left: 10px;
                    }
                }
            }
        }//ul
    }//menu
    
    &-contacts {
        
        ul {
            
            li {
                padding: 5px;
                font-size: 18px;
                
                span {
                    color: $orange;
                    font-size: 22px;
                    padding-right: 20px;
                }
            }
        }
    }
    
}





@media screen and (max-width: 610px) {
    .jssor_2 {
        display: none;
    }
}